= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-primary" do
  Sign-in via Facebook

= link_to user_omniauth_authorize_path(:twitter), class: "btn btn-primary" do
  Sign-in via Twitter
