.navbar.navbar-primary
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: { toggle: "collapse", target: "#collapser" } }
        %span.sr-only
          = t("navigation.toggle_navigation")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to admin_dashboard_path, class: "navbar-brand" do
        The Sanctuary
    .navbar-collapse.collapse#collapser
      %ul.nav.navbar-nav.navbar-right
        %Li
          = link_to "Back To Application", authenticated_root_path
        %li
          = link_to "Log out", destroy_user_session_path, method: :delete
