%ul.nav.nav-pills.nav-stacked
  %li
    = link_to admin_teams_path do
      Teams
      .pull-right
        %span.badge
          = Team.count
  %li
    = link_to admin_games_path do
      Games
      .pull-right
        %span.badge
          = Game.count
